<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java.mapper.NoticeMapper">

<!-- 공지사항 전체 가져오기 -->
   <select id="selectNoticeAll" resultType="com.java.dto.NoticeDto">
      select * from notice
      
      <if test="search_input != null and search_input != '' ">
		   where notititle like '%'||#{search_input}||'%'
		</if>
      
      
      order by notidate desc
   </select>
   
   <!-- 공지사항 가져오기   -->
   <select id="selectNoticeListCount" resultType="int">
      select count(*) from notice
      
      <if test="search_input != null and serch_input != '' ">
		   where notititle like '%'||#{search_input}||'%'
	  </if>
      
   </select>
   
   <!-- 공지사항 상세페이지 : noticeView -->
   <select id="selectNoticeOne" resultType="com.java.dto.NoticeDto">
   select * from notice where notino=#{notino}
   </select>
   
   <!-- 공지사항 추가하기 -->
   <insert id="insertNotice">
   insert into notice values 
(
notice_seq.nextval ,
'MeeVoo',
#{notititle},
sysdate,
#{noticontent},
#{notihit},
#{notiimg}
)</insert>
   
<!-- 1) 수정할 공지사항 가져오기 -->
   <select id="selectNMOne" resultType="com.java.dto.NoticeDto">
      select * from notice where notino = #{notino}
   </select>
   
   <!-- 공지사항 수정사항 저장하기 -->
   <update id="updateNMOne">
      update notice set notino=#{notino},notiid=#{notiid}, notidate=#{notidate}, noticontent=#{noticontent}, notiimg=#{notiimg}
      where notino=#{notino}
   </update>
      
   <!-- 공지사항 삭제하기 -->
   <delete id="deleteOne">
      delete notice where notino=#{notino}
   </delete>
   
   
   
   
<!-- FAQ --> 

   <!-- 1. FAQ 전체 가져오기 -->
   <select id="selectFAQAll" resultType="com.java.dto.FAQDto">
      select * from faq 
   </select>
   
   <!-- 2. FAQ 추가하기 -->
   <insert id="insertFAQ">
   insert into FAQ values (faq_seq.nextval , #{faqq}, #{faqa})
   </insert>
   
   <!-- 3) 수정할 FAQ 가져오기 -->
   <select id="selectFMOne" resultType="com.java.dto.FAQDto">
      select * from faq where faqno = #{faqno}
   </select>
   
   <!-- FAQ 수정사항 저장하기 -->
   <update id="updateFMOne">
      update faq set faqno=#{faqno}, faqq=#{faqq}, faqa=#{faqa}
      where faqno=#{faqno}
   </update>
   
   <!-- FAQ 삭제하기 -->
   <delete id="deleteFAQOne">
      delete faq where faqno=#{faqno}
   </delete>
   
   
 <!-- QnA -->  
   
   <!-- QnA 전체 가져오기 -->
   <select id="selectQnAAll" resultType="com.java.dto.QnADto">
      select * from qna
      <if test="search_input != null and search_input != '' ">
		   where id like '%'||#{search_input}||'%'
	  </if>
   </select>
   
   <!-- QnA 가져오기   -->
   <select id="selectQnAListCount" resultType="int">
      select count(*) from qna
      <if test="search_input != null and search_input != '' ">
		   where id like '%'||#{search_input}||'%'
	  </if>
   </select>
   
   <!-- QnA 상세페이지  -->
   <select id="selectQnAOne" resultType="com.java.dto.QnADto">
   select * from qna where qnano=#{qnano}
   </select>
   
   
   
   
   
   
   
   
   
   
   
   
   
   

</mapper>