<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.java.mapper.ClubMapper">

  <!-- 모임목록 전체 가져오기 (페이지, 키워드 검색 포함) -->
  <select id="selectClubAll" resultType="com.java.dto.ClubDto">
  
  select * from 
      (select rownum rnum, a.* from 
      (select * from 
          (select a.cno, a.id, a.cnm, a.cwrdate, a.cimg, a.cdodate, a.ccontent, a.ctotalpick, a.crecruitlimit, a.cnowrecruit, a.cnowstatus, 
                  b.usernm, b.nicknm, b.userimg, b.selfintro, b.totaltemp,
                  c.sfnm, c.scate, c.dongcate, c.addr, c.wifi, c.pet, c.parking, c.slope, c.imgurl1
             from clublist a 
              left join userlist b on a.id = b.id(+)
              left join sportlist c on a.sfno = c.sfno)
      order by cno desc) a )where rnum between #{startRow} and #{endRow}
  
    <!-- 
    select * from 
      (select rownum rnum, a.* from 
        (select * from 
          (select a.cno, a.id, a.cnm, a.cwrdate, a.cimg, a.cdodate, a.ccontent, a.ctotalpick, a.crecruitlimit, a.cnowrecruit, a.cnowstatus, 
                  b.usernm, b.nicknm, b.userimg, b.selfintro, b.totaltemp,
                  c.sfnm, c.scate, c.dongcate, c.addr, c.wifi, c.pet, c.parking, c.slope, c.imgurl1
             from clublist a 
               left join userlist b on a.id = b.id(+)
               left join sportlist c on a.sfno = c.sfno)
          where id like '%'||#{search.s_word}||'%'
             or cnm like '%'||#{search.s_word}||'%'
             or dongcate like '%'||#{search.s_word}||'%''
             or ccontent like '%'||#{search.s_word}||'%'
             or scate like '%'||#{search.s_word}||'%'
          order by cno desc) a )where rnum between #{startRow} and #{endRow} 
          -->
  </select>
  
  <!-- 전체 게시글 수 (넘버링) -->
  <select id="selectListCount" resultType="int">
     select count(*) from clublist
  </select>
  
  <!-- 모임목록 추천 가져오기 1. 로그인 전, 찜하기 많고, 최근 게시글 중 모집중인 모임목록 2개 -->
  <select id="selectClubRecsLogout" resultType="com.java.dto.ClubDto">
  	 select * from 
       (select rownum rnum, a.* from 
         (select * from 
           (select a.cno, a.id, a.cnm, a.cwrdate, a.cimg, a.cdodate, a.ccontent, a.ctotalpick, a.crecruitlimit, a.cnowrecruit, a.cnowstatus, 
                   b.usernm, b.nicknm, b.userimg, b.selfintro, b.totaltemp,
                   c.sfnm, c.scate, c.dongcate, c.addr, c.wifi, c.pet, c.parking, c.slope, c.imgurl1
              from clublist a 
                left join userlist b on a.id = b.id(+)
                left join sportlist c on a.sfno = c.sfno)
           where cnowstatus = '모집중' order by ctotalpick desc, cno desc) a
      )where rnum between 1 and 2
  </select>
  
  <!-- 모임목록 추천 가져오기 2. 로그인한 사람의 관심지역, 관심종목과 일치하는 모집중인 모임목록 2개 -->
  <select id="selectClubRecsLogin" resultType="com.java.dto.ClubDto">
     select * from 
      (select rownum rnum, a.* from 
        (select * from 
          (select a.* from 
            (select a.cno, a.id, a.cnm, a.cwrdate, a.cimg, a.cdodate, a.ccontent, a.ctotalpick, a.crecruitlimit, a.cnowrecruit, a.cnowstatus, 
                    b.usernm, b.nicknm, b.userimg, b.selfintro, b.totaltemp,
                    c.sfnm, c.scate, c.dongcate, c.addr, c.wifi, c.pet, c.parking, c.slope, c.imgurl1
               from clublist a 
                 left join userlist b on a.id = b.id(+)
                 left join sportlist c on a.sfno = c.sfno)
             a inner join userlist b on a.dongcate = b.dongcate and a.scate = b.scate
           where b.id = #{id})
         where cnowstatus = '모집중' order by ctotalpick desc, cno desc) a
       )where rnum between 1 and 2
     
  </select>
  
  <!-- 모임목록 1개 가져오기 -->
  <select id="selectClubOne" resultType="com.java.dto.ClubDto">
    select a.cno, a.id, a.cnm, a.cwrdate, a.cimg, a.cdodate, a.ccontent, a.ctotalpick, a.crecruitlimit, a.cnowrecruit, a.cnowstatus,
           b.usernm, b.nicknm, b.userimg, b.selfintro, b.totaltemp,
           c.sfnm, c.scate, c.dongcate, c.addr, c.wifi, c.pet, c.parking, c.slope, c.imgurl1
    	from clublist a 
        	left join userlist b on a.id = b.id(+)
        	left join sportlist c on a.sfno = c.sfno
    	where cno = #{cno}
  </select>
  
  <!-- 필터 input 반영해서 모임목록 가져오기 (필터검색) -->
  <select id="selectClubFilter" resultType="com.java.dto.ClubDto">
       select * from 
 	     (select a.cno, a.id, a.cnm, a.cwrdate, a.cimg, a.cdodate, a.ccontent, a.ctotalpick, a.crecruitlimit, a.cnowrecruit, a.cnowstatus, 
                 b.usernm, b.nicknm, b.userimg, b.selfintro, b.totaltemp,
                 c.sfnm, c.scate, c.dongcate, c.addr, c.wifi, c.pet, c.parking, c.slope, c.imgurl1
            from clublist a 
              left join userlist b on a.id = b.id(+)
              left join sportlist c on a.sfno = c.sfno)
         where scate = #{scate}
           and cnowstatus = #{cnowstatus}
           and cdodate between sysdate and sysdate + #{dateDifference}
  </select>


</mapper>